.left_section{

    width: 30%;
    background-color: black;
    color: white;
}
.middle{
    width: 75%;
}

.font_size {
    font-size: xx-small;
}
.category_box {
    background-color:rgb(133 221 250 / 79%);
}
.main{
    background-color: black;
    color: white;
    /* height:100vh; */
}
.font_color{
    color: #ffffffab;
}
.small_box{
    background-color: #0d6efd87;
}
.choice:hover{
    border: 2px solid white;
    background-color:#0d6efd87
}
.box1{
        padding-top: 20%;
        background-repeat:'noRepeat';
        background-size: cover;
        background-color: cadetblue;

}
.box2{
    padding-top: 20%;
    background-repeat:'noRepeat';
    background-size: cover;
    background-color: cadetblue;

}
.image{
    padding-top: 70%;
}
.image img{
    height: 40vh;

}

.Graph{
    margin-left: -45px;
}
.wallet-btn{
    width: 10rem !important;
}
.balance{
    margin-top: 2.7rem;
}
.tbudget{
    margin-top: 2.5rem;
}
.img{
    display: none;
}
.profile{
    width: 17% !important;
    display: none !important;
}

@media screen and (max-width:500px){
    .left-side{
       display: none;
    }
    .scrool{
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }
    .box1,.box2{
        width: 50% !important;
    }
     .Right-side{
        display: none;
     }
     .middle{
        width: 100% !important;
     }
     .main{
        height: 100vh;
     }
     .img{
        width: 12%;
        display: block !important;
     }
     .profile{
        display: flex !important;
     }
    
}
